.header {
  background-color: #f5f6f8;
}

.menu-bar {
  background-color: #171717;
}

.menu-button {
  all: unset; /* reset default style */

  background-color: #171717;
  padding: 0 28px;
  border-radius: 12px 12px 0 0;
  margin-top: 8px;

  color: #ffffff;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 500;
}

.menu-button:hover {
  opacity: 1.0;
}

.menu-button:checked,
.menu-button:active {
  background-color: #19c37d;
  opacity: 1.0;
  font-weight: 600;
}

.inventory-title {
  font-size: 22px;
  font-weight: 600;
  color: #171717;
}

.secondary-button {
  all: unset; /* reset default style */

  background-color: #19c37d;
  padding: 8.5px 16px 9.5px;
  border-radius: 8px;
}

.secondary-button:hover {
  background-color: #17b574;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.secondary-button label {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.table {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 8px;
}

.table-header {
  background-color: #f8f9fa;
  padding: 16px 24px;
  color: #888888;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #dedede;
}

.table-checkbox {
  all: unset; /* reset default style */

  padding: 24px;
  background-color: #f8f9fa;  
  border-bottom: 1px solid #dedede;
}

.table-checkbox:checked {
  border-color: #19c37d;
}

.dialog {
  border-radius: 20px;
}

.dialog-header {
  background-color: #ffffff;
  padding: 24px 20px;
}

.dialog-header-title {
  color: #111827;
  font-size: 18px;
  font-weight: 600;
}

.dialog-header-button {
  all: unset; /* reset default style */
  
  background-color: transparent;
  color: #9ca3af;
  font-size: 18px;
  font-weight: 900;
}
